################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LeetCode/.vs
/LeetCode/LeetCode/obj
/LeetCode/LeetCode/bin/Debug/netcoreapp2.1
